{% load static %}
{% load ratings %}
<html>
<head>
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <blockquote class="blockquote text-center">
        <div class="p-3 mb-2 bg-info text-white"> <h1 class="display-3">MOVIE DATABASE</h1> </div>
    </blockquote>

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

</head>
<body>

    <form action ="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <br><br>
            {% for movie_context in object_list %}

            <div class="container">

                <div class="row">
                    <div class="col-sm-4, ex-1">
                        <img width=154px height=200px src="{{ movie_context.poster.url }}"/>


                    </div>

                    <div class="col-sm-8"> <h2>
                           <font color="blue">{{ movie_context.moviename }}</font><br>
                        <h5>Hours : {{ movie_context.hours }}&emsp;
                            Category : {{ movie_context.category }}</h5>
                            <!--{{ movie_context.poster }}-->
                        </h2>
                        {% ratings movie_context %}
                        {% if request.user.is_superuser %}
                        <br>
                        <button class="green_button">Edit</button>
                        &nbsp;
                        <button class="red_button">Delete</button>
                        {% endif %}
                    </div>
            <br>

            <br>

           {% endfor %}
                </div>
            </div>
    </form>
</body>
</html>